p{
    text-align: center;
    margin-top:250px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#8B1874
}
#i1{
    margin-left: 40%;
    font-style: normal;
    font-size: 30px;
    color:#D71313
}
a{
    font-size: 20px;
    padding-right: 10px;
}